body{
	margin: 0;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 20px;
	line-height: 30px;
}
header{
	background-color: #DAF7A6;
	text-align: center;
	padding-top: 50px;
	padding-bottom:50px;
}
h1,h2{
	font-family: 'Girassol', cursive;
}

/*header styles*/

header h1{
	color:#900C3F;
	font-size: 50px;

}

header img{
	border-radius: 170px;
    width: 300px;
    height: 300px;
    border: 20px solid #C70039;
}

main{
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
}

main img{
	width: 100%;
}
h2{
	font-size: 30px;
	color:#900C3F;
	margin: 40px 0 10px;
}
a{
	color:#900C3F;
}
a:hover{
	color: white;
	background-color:#C70039;
}
footer{
	background-color: #DAF7A6;
	text-align: center;
	color:#900C3F;
	padding: 50px;
}
footer p{
	margin: 0;
}
footer a{
	color:#900C3F;
}
footer a:hover{
	opacity: .5;
	background-color:#900C3F;
}
p.caption{
	color: #999999;
	font-style: italic;
	margin-top: 0;
}

